/* http://meyerweb.com/eric/tools/scss/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: Barrio;
}

a, svg, button {
  transition: 0.3s;
}

.container {
  width: 100%;
  max-width: 74rem;
  margin: auto;
  padding: 0 1rem;
}

.header {
  background-color: #f7b335;
  padding: 1rem 0;
  position: relative;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  max-width: 3.5rem;
  width: 100%;
  transition: 0.3s;
}
.header__logo:hover {
  transform: scale(1.1);
}
.header__logo img {
  width: 100%;
}
.header__links {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header__links a {
  color: black;
  text-decoration: none;
  font-weight: 800;
}
.header__links a svg {
  width: 2rem;
}
.header__links a:hover {
  color: white;
}
.header__links li:last-child a {
  background-color: #e08200;
  padding: 0.5rem 1rem;
  border-radius: 100px;
  border: 0.125rem dashed #e08200;
}
.header__links li:last-child a:hover {
  background-color: transparent;
  color: #e08200;
}
.header__mobile-button {
  display: none;
}
@media (max-width: 638px) {
  .header__links {
    position: absolute;
    background-color: #f7b335;
    flex-direction: column;
    right: 0;
    top: 99%;
    height: calc(100vh - 6.0425rem);
    width: 100vh;
    max-width: 10rem;
    align-items: flex-start;
    padding: 1rem 1rem 5rem 1rem;
    transform: translateX(100%);
    transition: 0.3s;
  }
  .header__links.active {
    transform: translateX(0);
  }
  .header__links li:last-child {
    margin-top: auto;
  }
  .header__links li:last-child, .header__links li:last-child a {
    display: block;
    text-align: center;
    width: 100%;
  }
  .header__mobile-button {
    background: none;
    border: none;
    padding: 0;
    width: 33px;
    height: 25px;
    position: relative;
    display: block;
  }
  .header__mobile-button span {
    background-color: black;
    height: 5px;
    width: 100%;
    position: absolute;
    left: 0;
    border-radius: 0.5rem;
    transition: 0.3s;
  }
  .header__mobile-button span:first-child {
    top: 0;
  }
  .header__mobile-button span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  .header__mobile-button span:last-child {
    bottom: 0;
  }
  .header__mobile-button.active span:nth-child(1) {
    top: 9px;
    transform: rotate(45deg);
  }
  .header__mobile-button.active span:nth-child(2) {
    width: 0;
  }
  .header__mobile-button.active span:nth-child(3) {
    transform: rotate(-45deg);
    bottom: 11.5px;
  }
}