/* http://meyerweb.com/eric/tools/scss/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: Poppins;
}

a, svg, button {
  transition: 0.3s;
}

.container {
  width: 100%;
  max-width: 74rem;
  margin: auto;
  padding: 0 1rem;
}

.header {
  background-color: none;
  padding-top: 16px;
  background-color: white;
  position: relative;
  width: 100vw;
}
.header__logo {
  display: block;
  max-width: 240px;
  width: 100%;
  transition: 0.3s;
  margin: 0 auto;
}
.header__logo:hover {
  transform: scale(1.1);
}
.header__logo img {
  width: 100%;
}
.header__links {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-top: 0.0625rem dashed rgb(244, 206, 137);
  margin-top: 24px;
  padding: 24px 0;
  gap: 16px;
  width: 100%;
}
.header__links a {
  display: block;
  color: black;
  height: 100%;
  text-decoration: none;
  font-weight: 999;
}
.header__links a svg {
  width: 32px;
}
.header__links a:hover {
  color: rgb(244, 206, 137);
}
.header__links li:last-child a {
  background-color: rgb(244, 206, 137);
  padding: 8px 16px;
  border-radius: 6.25rem;
  border: 2px dashed rgb(244, 206, 137);
}
.header__links li:last-child a:hover {
  background-color: transparent;
  color: rgb(244, 206, 137);
}
.header__mobile-button {
  display: none;
}
@media (max-width: 927px) {
  .header {
    padding: 16px 0;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
  }
  .header + main {
    margin-top: 4.92rem;
  }
  .header__logo {
    max-width: 7rem;
    margin: 0;
  }
  .header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header__links {
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5rem;
    position: absolute;
    right: 0px;
    top: 100%;
    max-width: 12rem;
    width: 100vh;
    align-items: flex-start;
    padding: 16px;
    padding-bottom: 5rem;
    margin: 0;
    border: none;
    height: calc(100vh - 4.92rem);
    transition: 0.3s;
    transform: translateX(100%);
  }
  .header__links.active {
    transform: translateX(0);
  }
  .header__links li:last-child {
    margin-top: auto;
  }
  .header__mobile-button {
    margin-left: 16px;
    background-color: none;
    border: none;
    padding: 0;
    width: 2.0625rem;
    height: 1.5625rem;
    position: relative;
    display: block;
    background: none;
  }
  .header__mobile-button span {
    background-color: rgb(72, 38, 1);
    height: 0.3125rem;
    width: 100%;
    position: absolute;
    left: 0;
    border-radius: 8px;
    transition: 0.3s;
  }
  .header__mobile-button span:first-child {
    top: 0;
  }
  .header__mobile-button span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  .header__mobile-button span:last-child {
    bottom: 0;
  }
  .header__mobile-button.active span:nth-child(1) {
    top: 0.5625rem;
    transform: rotate(45deg);
  }
  .header__mobile-button.active span:nth-child(2) {
    width: 0;
  }
  .header__mobile-button.active span:nth-child(3) {
    transform: rotate(-45deg);
    bottom: 0.7188rem;
  }
}

.main__banner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f1f1f1;
  position: relative;
  overflow: hidden;
}
.main__banner__box {
  position: relative;
  width: 28.125rem;
  aspect-ratio: 1;
}
.main__banner__box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #000, transparent);
  opacity: 0.1;
  transform: rotate(45deg);
  transform-origin: left;
}
.main__banner__box__circle {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #fff, #e4e3e8);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 1;
}
.main__banner__box__circle::before {
  content: "";
  position: absolute;
  top: 0.3125rem;
  bottom: 0.3125rem;
  left: 0.3125rem;
  right: 0.3125rem;
  background: linear-gradient(315deg, #fff, #e4e3e8);
  border-radius: 50%;
}
.main__banner__box__circle img {
  position: absolute;
  z-index: 2;
  height: 100%;
  image-resolution: 100%;
}
.main__banner span {
  position: absolute;
  background: rgb(244, 206, 137);
  border-radius: 100%;
  animation: animate linear infinite;
}
.main__banner span:nth-child(even) {
  background: transparent;
  border: 1px solid rgb(244, 206, 137);
}
@keyframes animate {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateY(-2220%);
    opacity: 0;
  }
}