.header {
  //Faz o header do site
  background-color: none; //Colocar a cor de fundo
  padding-top: 16px;
  background-color: white;
  position: relative;
  width: 100vw;
  &__logo {
    display: block;
    //Logo é classe e está dentro de header - &para referenciar o anterior
    max-width: 240px; //Max para ficar responsivo - limita o espaço
    width: 100%; //Ocupar 100% do espaço
    transition: 0.3s;
    margin: 0 auto;
    //hover: quando passar por cima
    &:hover {
      transform: scale(1.1); //aumenta 10% (1.1) - scale
    }
    img {
      //Imagem não é classe e está dentro de logo - é uma tag
      width: 100%;
    }
  }

  &__links {
    display: flex;
    justify-content: center; //Espaça as coisas -> espaçou a logo dos link
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-top: 0.0625rem dashed rgb(244, 206, 137);
    margin-top: 24px;
    padding: 24px 0;
    gap: 16px;
    width: 100%;
    a {
      display: block;
      color: black;
      height: 100%;
      text-decoration: none; //Tirar a linha
      font-weight: 999;

      svg {
        width: 32px;
      }

      &:hover {
        color: rgb(244, 206, 137);
      }
    }
    li:last-child a {
      //último filho = o último link
      background-color: rgb(244, 206, 137);
      padding: 8px 16px; //Para aumentar a borda
      border-radius: 6.25rem; //para arredondar o botão
      border: 2px dashed rgb(244, 206, 137); //alt-z = troca de px para rem

      &:hover {
        background-color: transparent;
        color: rgb(244, 206, 137);
      }
    }
  }

  &__mobile-button {
    display: none;

  }

  @media (max-width: 927px) {
    //Determinar vizualização no celular
    padding: 16px 0;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    & + main {
      margin-top: 4.92rem;
    }
    &__logo {
      max-width: 7rem;
      margin: 0;
    }
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__links {
      flex-direction: column;
      justify-content: flex-start;
      gap: 1.5rem;
      position: absolute;
      right: 0px;
      top: 100%;
      max-width: 12rem;
      width: 100vh;
      align-items: flex-start;
      padding: 16px;
      padding-bottom: 5rem;
      margin: 0;
      border: none;
      height: calc(100vh - 4.92rem);
      transition: 0.3s;
      transform: translateX(100%);
      &.active {
        transform: translateX(0);
      }
      li:last-child{
        margin-top: auto;
      }
    }
    &__mobile-button {
      //botão no celulare
      margin-left: 16px;
      background-color: none;
      border: none;
      padding: 0;
      width: 2.0625rem;
      height: 1.5625rem;
      position: relative;
      display: block;
      background: none;
      span {
        background-color: rgb(72, 38, 1);
        height: 0.3125rem;
        width: 100%;
        position: absolute;
        left: 0;
        border-radius: 8px;
        transition: 0.3s;

        &:first-child {
          top: 0;
        }

        &:nth-child(2) {
          top: 50%;
          transform: translateY(-50%);
        }

        &:last-child {
          bottom: 0;
        }
      }

      &.active span {
        &:nth-child(1) {
          top: 0.5625rem;
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          width: 0;
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
          bottom: 0.7188rem;
        }
      }
    }
  }
}
